

body {
    font-family: "Work Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:16px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background: radial-gradient(
    circle 150px at var(--mouse-x, 50%) var(--mouse-y, 50%), 
    #0F0F7C, 
    #0D0C52
  );
}

h1,h2,h3 {
    font-family: Inter, "Work Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

main {
    display: flex;
    width: 90vw;
    justify-content: center;
}

footer {
    margin-top: 320px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.info-section {
    width: 40%;
    padding-left: 10px;
}

.sticky-info {
    position: sticky;
    top: 0;
    padding-top: 100px;
}

.main-column {
    width: 60%;
    margin-left: 10px;
}




.pad-lr-10 {
    padding: 0 10px 0 10px;
}


.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*padding-right: 10px;*/
}

.contact-icons {
    position: fixed;
    bottom: 0;
    margin: 0 0 100px 50px;
}

.margin-t-100 {
    margin-top: 100px;
}



.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 15px;
    margin-bottom: 20px;
}

.exp-grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto auto; /* Two rows */
    gap: 15px;
}

.content-box {
    transition: opacity 0.3s ease, background-color 0.3s ease;
    opacity: 1;
    & p {
        text-align: justify;
        text-justify: inter-word;
    }
}

ul {
    list-style: none; 
    padding-left: 0;
    padding: 0 10px 0 10px;
}

li {
    margin: 5px 0 5px 0;
}

.content-box:hover {
    background-color: #173E99;
    border-radius: 10px;
}

.content-box:hover h3{
    color: #24E2F0;
}

.content-box:hover .proj-link{
    color: #24E2F0;
    
}

.link-icon {
    opacity: 0;
    margin-left: 10px;
  }
  
  .content-box:hover .link-icon {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform 0.2s;
  }

.tech-icons {
    display: flex; 
    justify-content: center;
}

.tech-icons img {
    height: 55px; width: 55px;
}

.tech-icons img:not(:first-child) {
    margin-left: 40px;
}

.tech-icons img:hover {
    height: 80px; width: 80px;
    transition: height,width 0.4s;
    background-color: #24E2F0;
    border-radius: 10px;
}

.sticky-info nav a {
    text-decoration: none;
    color: #3a3091;
    font-weight: normal;
    transition: font-weight 0.3s ease, color 0.3s ease;
  }
  
.sticky-info nav a.active {
    font-weight: bold;
    color:aliceblue;
}




@media (max-width: 768px) {
    main {
      flex-direction: column;
    }
    
    .info-section,
    .main-column {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }

    .proj-preview-img {
        object-fit: cover;
        height: 50px;
        width: 100px;
    }

    .contact-icons {
        background: rgba(12, 10, 71, 0.5);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(12, 10, 71, 0.3);

        right: 0;
        padding: 10px 10px 10px 10px;
        margin: 0 0 20px 50px;
    }

    .tech-icons img:not(:first-child) {
        margin-left: 0px;
    }

    .footer-credits {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}