

body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:16px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: #0D0C52;
}

main {
    display: flex;
    width: 90vw;
    justify-content: center;
}

footer {
    margin-top: 320px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.info-section {
    width: 40%;
    padding-left: 10px;
    
}

.sticky-info {
    position: sticky;
    top: 0;
    padding-top: 100px;
}

.main-column {
    /* background-color: rgb(97, 255, 255); */
    width: 60%;
    margin-left: 10px;
}

.pad-lr-10 {
    padding: 0 10px 0 10px;
}


.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*padding-right: 10px;*/
}

.contact-icons {
    position: fixed;
    bottom: 0;
    padding: 0 0 100px 50px;
}

.margin-t-100 {
    margin-top: 100px;
}



.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 15px;
}

.exp-grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto auto; /* Two rows */
    gap: 15px;
}

.content-box {
    transition: opacity 0.3s ease, background-color 0.3s ease;
    opacity: 1;
}

ul {
    list-style: none; 
    padding-left: 0;
    padding: 0 10px 0 10px;
}

li {
    margin: 5px 0 5px 0;
}

.content-box:hover {
    background-color: #173E99;
    border-radius: 10px;
}

.content-box:hover h3{
    color: #24E2F0;
}

.content-box:hover .proj-link{
    color: #24E2F0;
    
}

.link-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 10px;
  }
  
  .content-box:hover .link-icon {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform 0.2s;
  }

.tech-icons {
    display: flex; 
    justify-content: center;
}

.tech-icons img {
    height: 55px; width: 55px;
}

.tech-icons img:not(:first-child) {
    margin-left: 40px;
}

.tech-icons img:hover {
    height: 80px; width: 80px;
    transition: height,width 0.4s;
    background-color: #24E2F0;
    border-radius: 10px;
}

.sticky-info nav a {
    text-decoration: none;
    color: #3a3091;
    font-weight: normal;
    transition: font-weight 0.3s ease, color 0.3s ease;
  }
  
.sticky-info nav a.active {
    font-weight: bold;
    color:aliceblue;
}